---
import s from "./styles.module.css";
import "./styles.css";
---

<button class="startButton" type="button" id="primary-button">Start</button>

<script>
  const button = document.querySelector(".startButton");
  button!.addEventListener("click", () => {
    const section = document.getElementById("secondsection");
    section?.scrollIntoView({ behavior: "smooth" });
  });
</script>
