.nav {
  position: absolute;
  right: 0;
  top: 0;
}

/* Stylowanie listy nawigacyjnej */
.list {
  list-style: none; /* Usunięcie punktów listy */
  /* margin: 0;
  padding: 0; */
  display: flex;
  justify-content: flex-end; /* Ustawienie elementów od prawej strony */
  margin-right: 16px;
}

/* Stylowanie poszczególnych elementów */
.item {
  padding: 16px 16px;
}

.link {
  text-decoration: none;
  color: rgb(135, 24, 137);
  font-size: 18px;
}

.link:hover {
  /* color: #ddd; */
  color: rgb(255, 162, 0);
}
/* #1C1C1C background */
/* #171717 background */
/* #262626 button */
/* #DADADA text */
/* #ACACAC text light */
