---
import BaseLayout from "../layouts/baseLayout/BaseLayout.astro";
import "../styles/global.css";
import s from "./styles.module.css";

import fs from "fs";
import path from "path";

const postsDir = path.resolve("./src/pages/posts");
const postFiles = fs.readdirSync(postsDir);

const posts = postFiles
  .filter((file) => file.endsWith(".md"))
  .map((file) => {
    return {
      title: file.replace(".md", ""),
      file: file.replace(".md", ""),
    };
  });
---

<BaseLayout>
  <main class={s.section}>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/posts/${post.file}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
