---
import Navigation from "../components/navigation/Navigation.astro";
import TypingAnimation from "../components/TypingAnimation/TypingAnimation.astro";
import PrimaryButton from "../components/buttons/StartButton.astro";
import Footer from "../components/footer/Footer.astro";
import BaseLayout from "../layouts/baseLayout/BaseLayout.astro";

import s from "./styles.module.css";

import "../styles/global.css";
---

<BaseLayout>
  <section class={s.intro}>
    <TypingAnimation />
    <PrimaryButton />
  </section>
  <section class={s.secondsection} id="secondsection"></section>
</BaseLayout>
