.postContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 680px;
  font-size: 20px;
  font-family: serif;
  background-color: #171717;
  color: #dadada;
  margin: 0 auto;
  margin-top: 64px;
  padding: 64px 0;
}

.section {
  margin-top: 26px;
}

.line {
  margin-top: 16px;
  border-bottom: 1px solid white;
}

.publicationDate {
  margin-top: 8px;
  align-self: center;
}
